/* Reseta margens, paddings e define o box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit; /* Herda a fonte definida no body */
}

/* Remove marcadores de lista */
ul {
    list-style: none;
}

/* Remove sublinhado de links e herda a cor */
a {
    text-decoration: none;
    color: inherit;
}